<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>All Chats!</h1>
    <form method="GET" action="/chats/New">
        <button>New Chat</button>
    </form>
    <br>
    <div class="chat-box">
        <% for (chat of chats) { %>
        <div class="chat">
            <p>From: <%= chat.from %> </p>
            <div class="msg-box">
                <p>Message: <%= chat.msg %></p>
            </div>
            <p>Recieved by: <i> <%= chat.to %></i> </p>
            <hr>
            <p><%= chat.created_at.toString().split(" ")[4] %></p>
            <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ")%></p>
        </div>
        <% } %>
    </div>
</body>
</html>